* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.pres-container {
  margin-top: -4vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;

  min-height: 100vh;

  padding: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pres-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 5vw;
  font-weight: 500;
  font-size: 1.4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span:after {
  padding-left: 0.5rem;
  content: "Théotim ALBERTEAU";
  color: blue;
  text-shadow: darkblue 0 0 7px;
  font-weight: 600;
  font-size: 4rem;
}

.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding-top: 7vh;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 4vh 0 2vh 0;
  gap: 2vw;
}

.my-work {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px #113768;

  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.my-work:hover {
  transform: scale(1.02);
}

.get-in-touch {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: rgba(255, 255, 255, 0.1) solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);

  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.get-in-touch:hover {
  transform: scale(1.02);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.icon {
  display: flex;
  justify-content: center;
  width: 3vw;

  border: rgba(255, 255, 255, 0.1) solid 3px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform .2s ease-in-out;
}

.email-icon {
  padding: 0.3vw;
  cursor: default;
}

.icon:hover {
  transform: scale(1.02);
}

.oval-pin {
  width: 2vw;
  height: 6vh;
  border: 4px solid blue;
  border-radius: 90px;
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  bottom: 1vh;
}

.ball {
  width: 0.8vw;
  height: 0.8vw;
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1;
  animation: move-ball 7s infinite alternate ease-in-out;
}

.trail {
  width: 0.8vw;
  height: 0.8vw;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  animation: move-trail 7s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}

@keyframes move-ball {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -2vh);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes move-trail {
  0% {
    transform: translate(-50%, 0);
    opacity: 0.2;
  }

  50% {
    transform: translate(-50%, -2vh);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 0.1;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 5vh 5vw;

  background: linear-gradient(90deg, var(--primary), var(--dark));
  color: white;
  overflow: hidden;
}

.about-me h1 {
  font-weight: 600;
  font-size: 3rem;
}

.about-me span:after {
  content: "de Moi";
  color: blue;
  text-shadow: darkblue 0 0 7px;
}

section hr {
  margin-top: 1.5vh;
  margin-bottom: 4vh;
  width: 4vw;
  height: 4px;
  background-color: blue;
  box-shadow: 0 0 10px blue;
  border: none;
}

.cards-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  align-items: center;

  gap: 1vw;

  width: 80%;
  max-width: 1200px;
}

.card {
  padding: 2vw;
  border-radius: 15px;
  min-height: 15vh;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.large-card {
  grid-row: 1 / span 2;
  grid-column: 1;
  height: 100%;
}

.card-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-content {
  font-weight: 500;
  font-size: 1.08rem;
  margin-bottom: 0.4rem;
}

.card-content p {
  margin-bottom: 0.2rem;
}

.cards-grid-right {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;

  width: 100%;
}

.small-card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

.small-card .card-value {
  font-size: 2rem;
  font-weight: 600;
  color: #1a73e8;
  margin-bottom: 0.5rem;
}

.small-card .card-content {
  font-size: 1rem;
  font-weight: 500;
  color: #cccccc;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;
}

.my-skills h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.my-skills span:after {
  content: "Compétences";
  color: blue;
  text-shadow: darkblue 0 0 7px;
  font-weight: 600;
  font-size: 4rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  width: 70%;
}

.skill-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1.3vw;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  min-height: 50vh;
}

.skill-card h3 {
  color: blue;
  text-shadow: darkblue 0 0 7px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  height: 10vh;
}

.skill-card-value {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.skill-card-value img {
  flex-basis: 20%;
  width: 1.2vw;
  align-content: center;
}

.skill-card-value .subtitle {
  flex-basis: 60%;
  text-align: left;
  font-weight: 600;
  text-shadow: white 0 0 1px;
}

.skill-card-value .percent {
  flex-basis: 20%;
  text-align: right;
  color: blue;
  font-weight: bold;
  text-shadow: darkblue 0 0 2px;
}

.progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-top: 5px;
  overflow: hidden;
}

.progress-bar {
  width: calc(var(--percent) * 1%);
  height: 8px;
  background-color: blue;
  box-shadow: 0 0 7px darkblue;
  border-radius: 15px;
  overflow: hidden;
}

.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 5vh 5vw;

  background: linear-gradient(90deg, var(--primary), var(--dark));
  color: white;
  overflow: hidden;
}

.my-projects h1 {
  font-weight: 600;
  font-size: 3rem;
}

.my-projects span:after {
  content: "Projets";
  color: blue;
  text-shadow: darkblue 0 0 7px;
}

.categs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.categs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vw;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-button {
  min-width: 10vw;
  min-height: 5vh;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0 0 2px white;
  transition: transform 0.2s ease-in-out;
}

.value-button:hover,
.value-button:focus,
.value-button.active-filter {
  transform: scale(1.05);
  background-color: blue;
  border: 3px solid rgba(255, 255, 255, 0.3);
}



@media (max-width: 767px) {
  html {
    overflow: hidden;
  }

  .title {
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
  }

  .pres {
    flex-direction: column;
    text-align: center;
    padding: 3vh 0;
  }

  .pres-text {
    padding: 0.2vh 5vw
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 80%;
    margin: 0 auto;
    padding-top: 1vh;
  }

  .my-work, .get-in-touch {
    width: 100%;
  }

  .links {
    gap: 4vw;
    margin: 2vw 0;
  }

  .icon {
    width: 10vw;
  }

  .email-icon {
    padding: 1vw;
    cursor: default;
  }

  .oval-pin {
    width: 4vw;
    height: 3vh;
    border: 2px solid blue;
    border-radius: 90px;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    bottom: 1vh;
  }

  .ball {
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(0, 0, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1;
    animation: move-ball-mobile 7s infinite alternate ease-in-out;
  }

  .trail {
    width: 1.5vw;
    height: 1.5vw;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    animation: move-trail-mobile 7s infinite alternate ease-in-out;
    animation-delay: 0.5s;
  }

  @keyframes move-ball-mobile {
    0% {
      transform: translate(-50%, 0);
    }

    50% {
      transform: translate(-50%, -1vh);
    }

    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes move-trail-mobile {
    0% {
      transform: translate(-50%, 0);
      opacity: 0.2;
    }

    50% {
      transform: translate(-50%, -1vh);
      opacity: 0.15;
    }

    100% {
      transform: translate(-50%, 0);
      opacity: 0.1;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  section hr {
    width: 10vw;
    box-shadow: 0 0 10px blue;
  }

  .large-card {
    grid-row: unset;
    grid-column: unset;
    height: auto;
  }

  .cards-grid-right {
    grid-column: 1 / span 2;
    grid-row: unset;

    grid-template-columns: 1fr 1fr;
    padding-top: 1vh;
    gap: 2vw;
  }

  .card {
    padding: 4vw;
    min-height: 100%;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
  }

  .skill-card {
    min-height: 30vh;
  }

  .skill-card-value img {
    width: 3vw;
  }
}
