<section id="home">
    <div class="pres-container">
      <div class="pres-text">
        <h1 class="title">Bonjour ! Je suis
        <span></span>
        </h1>

        <div class="pres">
          <p>Étudiant en 2ème année de Développement informatique à Sup De Vinci Nantes</p>
          <p>J'utilise principalement le stack MEAN, Python, et C#</p>
          <p>Grâce à cela, je développe surtout des applications webs optimisées et évolutives</p>
        </div>
      </div>

      <div class="pres-contact-container">
        <button (click)="GoToProjects()" class="my-work">
          Mon travail
        </button>

        <button class="get-in-touch" (click)="GoToContact()">
          Me contacter
        </button>
      </div>

      <div class="links">
        <img src="Assets/icons/github.png" alt="icon-github" class="icon" (click)="OnClickGithub()">

        <img src="Assets/icons/linkedin.png" alt="icon-linkedin" class="icon" (click)="OnClickLinkedin()">

        <a href="mailto:theotim.alberteau@gmail.com?subject=Contact?body=Bonjour,">
          <img src="Assets/icons/email.png" alt="icon-email" class="icon email-icon">
        </a>
      </div>

      <div class="oval-pin">
        <div class="ball"></div>
        <div class="trail"></div>
      </div>
    </div>
</section>

<section id="about-me">
  <div class="about-me">
    <h1 class="title"> A propos
    <span></span>
    </h1>
    <hr>
    <div class="cards-container">
      <div class="card large-card">
        <div class="card-title">
          Mon parcours
        </div>
        <div class="card-content">
          <p>
            Je suis étudiant en 2ème année de développement informatique à Sup De Vinci Nantes,
            je suis passionné depuis petit d'informatique et pendant le confinement, j'ai commencé le développement,
            d'abord avec du Scratch puis ensuite avec du python, HTML, CSS ...
          </p>
          <br>
          <p>
            Mes compétences sont surtout basés sur le stack MEAN (MongoDB, Express, Angular, Nodejs),
            dont ce site qui sert principalement à consolider mes connaissances.
            Mais j'ai aussi des compétences dans d'autres langages, comme C#, Python ou MySQL.
          </p>
        </div>
      </div>

      <div class="cards-grid-right">
        <div class="card small-card">
          <div class="card-value">
            2+
          </div>
          <div class="card-content">
            Années d'études
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            4+
          </div>
          <div class="card-content">
            Années de pratique
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            2+
          </div>
          <div class="card-content">
            Projets terminés
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            5+
          </div>
          <div class="card-content">
            Langages appris
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="my-skills">
  <div class="my-skills">
    <h1 class="title">Mes
    <span></span>
    </h1>
    <hr>
    <div class="skills-container">

      @for (categ of skills; track categ) {
        <div class="skill-card">
          <div class="skill-card-title">
            <h3>{{categ.title}}</h3>
          </div>

          <div class="skill-grid">
            @for (skill of categ.skills; track skill) {
              <div class="skill-item">
                <div class="skill-logo">
                  <img [src]="skill.logoPath" [alt]="skill.subtitle">
                </div>
                <div class="skill-name">
                  {{skill.subtitle}}
                </div>
              </div>
            }
          </div>
        </div>
      }

    </div>
  </div>
</section>

<section id="my-projects">
  <div class="my-projects">
    <h1 class="title">Mes
      <span></span>
    </h1>
    <hr>
    <div class="categs-container">
      <div class="categs">
        <div class="value">
          <button #defaultProjectButton
                  [ngClass]="{'active-filter': activeFilter === 'all'}"
                  class="value-button"
                  (click)="OnClickFilter('all')">All projects</button>
        </div>

        @for (category of this.categories; track category) {
          <div class="value">
            <button #defaultProjectButton
                    [ngClass]="{'active-filter': activeFilter === category}"
                    class="value-button"
                    (click)="OnClickFilter(category)">{{ category }}</button>
          </div>
        }
      </div>
      <div class="projects-container">
        @for (project of this.projects; track project) {
          <div class="project-card">
            <div class="project-card-img">
              <img [src]=project.imgPath alt="{{project.title}}">
              @if (project.isFeatured === true) {
                <div class="project-isfeatured">
                  Featured
                </div>
              }
              <div class="project-github-link">
                <img src="Assets/projects/github-logo.png" alt="github-logo" (click)=OnClickeGoProjectGithub(project)>
              </div>
            </div>

            <div class="project-card-title">
              {{project.title}}
            </div>

            <div class="project-card-desc">
              {{project.description}}
            </div>

            <div class="project-card-technologies">
              @for (tech of project.technologies; track tech) {
                <div class="project-technologie">
                  {{tech}}
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="experience-education" id="experience-education">
  <h1 class="title">Mon
    <span></span>
  </h1>
  <hr>
  <div class="exp-educ-container">
    <div class="experience">
      <div class="experience-icon-container">
        <img src="Assets/exp-educ-icons/exp-icon.png" alt="experience-icon" class="experience-icon">
        <h2 class="experience-icon-title">Mes Expériences</h2>
      </div>
      @for (experience of this.experiences; track experience) {
        <div class="exp-card">

          <div class="experience-title">
            <h3>{{ experience.title }}</h3>
          </div>

          <div class="experience-subtitles">
            <div class="experience-company">
              {{ experience.company }}
            </div>
            <div class="experience-period">
              {{ experience.period }}
            </div>
          </div>
          <hr>

          <div class="experience-highlights-list">
            <ul>
            @for (highlight of experience.highlights; track highlight) {
              <div class="experience-highlight">
                <li>
                  <h4>{{ highlight }}</h4>
                </li>
              </div>
            }
            </ul>
          </div>

          <div class="experience-technologies">
            @for (technologie of experience.technologies; track technologie) {
              <div class="experience-technologie-title">
                <h5>{{technologie}}</h5>
              </div>
            }

          </div>


        </div>
      }
    </div>

    <div class="education">
      <div class="education-icon-container">
        <img src="Assets/exp-educ-icons/educ-icon.png" alt="education-icon" class="education-icon">
        <h2 class="education-icon-title">Mon Parcours</h2>
      </div>
      @for (education of this.educations; track education) {
        <div class="educ-card">
          <div class="education-degree">
            <h3>{{ education.degree }}</h3>
          </div>

          <div class="education-subtitles">
            <div class="education-university">
              {{ education.university }}
            </div>
            <div class="education-period">
              {{ education.period }}
            </div>
          </div>
          <hr>

          <div class="education-highlights-list">
            <ul>
            @for (highlight of education.highlights; track highlight) {
              <div class="education-highlight">
                <li>
                  <h4>{{highlight}}</h4>
                </li>
              </div>
            }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section class="contact-section" id="contact">
  <h1 class="title">Me
    <span></span>
  </h1>
  <hr>
  <div class="contact-container">

    <div class="contact-left">
      <div class="info-card">
        <div class="info-icon">
          <img src="Assets/Contact/email-icon.png" alt="Email">
        </div>
        <div class="info-text">
          <span class="info-label">Email</span>
          <span class="info-value">theotim.alberteau&#64;gmail.com</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <img src="Assets/Contact/phone-icon.png" alt="Téléphone">
        </div>
        <div class="info-text">
          <span class="info-label">Téléphone</span>
          <span class="info-value">+33 6 13 01 24 37</span>
        </div>
      </div>

      <div class="info-card">
        <div class="info-icon">
          <img src="Assets/Contact/location-icon.png" alt="Localisation">
        </div>
        <div class="info-text">
          <span class="info-label">Localisation</span>
          <span class="info-value">Nantes, France</span>
        </div>
      </div>
    </div>

    <form action="https://api.web3forms.com/submit" method="POST" class="contact-right">

      <input type="hidden" name="access_key" value="862cf3d2-e8f1-483d-beab-ee2bf085c2b7">

      <input type="text" name="name" placeholder="Nom" class="contact-inputs" required>

      <input type="email" name="email" placeholder="Email" class="contact-inputs" required>

      <textarea type="message" name="message" placeholder="Message" class="contact-inputs" required></textarea>

      <button type="submit" class="contact-submit">Envoyer<img src="Assets/Contact/arrow.png" alt="arrow-submit" class="submit-arrow"></button>
    </form>
  </div>
</section>
