<section id="home">
    <div class="pres-container">
      <div class="pres-text">
        <h1 class="title">Bonjour ! Je suis
        <span></span>
        </h1>

        <div class="pres">
          <p>Étudiant en 2ème année de Développement informatique à Sup De Vinci Nantes</p>
          <p>J'utilise principalement le stack MEAN, Python, et C#</p>
          <p>Grâce à ca, je développe surtout des applications webs optimisées et évolutives</p>
        </div>
      </div>

      <div class="contact-container">
        <button class="my-work">
          Mon travail
        </button>

        <button class="get-in-touch" (click)="appComponent.onClickContact()">
          Me contacter
        </button>
      </div>

      <div class="links">
        <img src="Assets/icons/github.png" alt="icon-github" class="icon" (click)="OnClickGithub()">

        <img src="Assets/icons/linkedin.png" alt="icon-linkedin" class="icon" (click)="OnClickLinkedin()">

        <a href="mailto:theotim.alberteau@gmail.com?subject=Contact?body=Bonjour,">
          <img src="Assets/icons/email.png" alt="icon-email" class="icon email-icon">
        </a>
      </div>

      <div class="oval-pin">
        <div class="ball"></div>
        <div class="trail"></div>
      </div>
    </div>
</section>

<section id="about-me">
  <div class="about-me">
    <h1 class="title"> A propos
    <span></span>
    </h1>
    <hr>
    <div class="cards-container">
      <div class="card large-card">
        <div class="card-title">
          Mon parcours
        </div>
        <div class="card-content">
          <p>
            Je suis étudiant en 2ème année de développement informatique à Sup De Vinci Nantes,
            je suis passionné depuis petit d'informatique et pendant le confinement, j'ai commencé le développement,
            d'abord avec du Scratch puis ensuite avec du python, HTML, CSS ...
          </p>
          <br>
          <p>
            J'ai plusieurs projets en cours pour m'entrainer, dont ce site, produit en Angular.
            Mes compétences sont surtout basés sur le stack MEAN (MongoDB, Express, Angular, Nodejs),
            mais j'ai aussi des compétences dans d'autres langages, comme C#, Python ou MySQL.
          </p>
        </div>
      </div>

      <div class="cards-grid-right">
        <div class="card small-card">
          <div class="card-value">
            2+
          </div>
          <div class="card-content">
            Années d'études
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            4+
          </div>
          <div class="card-content">
            Années de pratique
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            2+
          </div>
          <div class="card-content">
            Projets terminés
          </div>
        </div>

        <div class="card small-card">
          <div class="card-value">
            5+
          </div>
          <div class="card-content">
            Langages appris
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="my-skills">
  <div class="my-skills">
    <h1 class="title">Mes
    <span></span>
    </h1>
    <hr>
    <div class="skills-container">

      @for (categ of skills; track categ) {
        <div class="skill-card">
          <div class="skill-card-title">
            <h3>{{categ.title}}</h3>
            <div class="skill-card-value">
              @for (skill of categ.skills; track skill) {
                <div class="logo">
                  <img src="{{skill.logoPath}}" alt="{{skill.subtitle}}">
                </div>
                <div class="subtitle">
                  {{skill.subtitle}}
                </div>
                <div class="percent">
                  {{skill.percent}}
                </div>
                <div class="progress-bar-container">
                  <div class="progress-bar" [style.--percent]=skill.percent></div>
                </div>
              }
            </div>
          </div>
        </div>
      }

    </div>
  </div>
</section>

<section id="my-projects">
  <div class="my-projects">
    <h1 class="title">Mes
      <span></span>
    </h1>
    <hr>
    <div class="categs-container">
      <div class="categs">
        <div class="value">
          <button #defaultProjectButton
                  [ngClass]="{'active-filter': activeFilter === 'all'}"
                  class="value-button"
                  (click)="OnClickFilter('all')">All projects</button>
        </div>
        <div class="value">
          <button [ngClass]="{'active-filter': activeFilter === 'MEAN'}"
                  class="value-button"
                  (click)="OnClickFilter('MEAN')">MEAN Stack</button>
        </div>
        <div class="value">
          <button [ngClass]="{'active-filter': activeFilter === 'python'}"
                  class="value-button"
                  (click)="OnClickFilter('python')">Python</button>
        </div>
        <div class="value">
          <button [ngClass]="{'active-filter': activeFilter === 'C#'}"
                  class="value-button"
                  (click)="OnClickFilter('C#')">C#</button>
        </div>
      </div>
      <div class="projects-container">
        <p>appel api en fonction des projets sélectionnés</p>
      </div>
    </div>
  </div>
</section>
