* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.pres-container {
  margin-top: -4vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;

  min-height: 100vh;

  padding: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pres-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 5vw;
  font-weight: 500;
  font-size: 1.4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span:after {
  padding-left: 0.5rem;
  content: "Théotim ALBERTEAU";
  color: var(--title);
  text-shadow: darkblue 0 0 7px;
  font-weight: 600;
  font-size: 4rem;
}

.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding-top: 7vh;
}

.pres-contact-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 4vh 0 2vh 0;
  gap: 2vw;
}

.my-work {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: var(--title);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px #113768;

  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.my-work:hover {
  transform: scale(1.02);
}

.get-in-touch {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: rgba(255, 255, 255, 0.1) solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);

  color: white;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.get-in-touch:hover {
  transform: scale(1.02);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.icon {
  display: flex;
  justify-content: center;
  width: 3vw;

  border: rgba(255, 255, 255, 0.1) solid 3px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform .2s ease-in-out;
}

.email-icon {
  padding: 0.3vw;
  cursor: default;
}

.icon:hover {
  transform: scale(1.02);
}

.oval-pin {
  width: 2vw;
  height: 6vh;
  border: 4px solid blue;
  border-radius: 90px;
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  bottom: 1vh;
}

.ball {
  width: 0.8vw;
  height: 0.8vw;
  background-color: rgba(0, 0, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1;
  animation: move-ball 7s infinite alternate ease-in-out;
}

.trail {
  width: 0.8vw;
  height: 0.8vw;
  background-color: var(--title);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  animation: move-trail 7s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}

@keyframes move-ball {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -1.5vh);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes move-trail {
  0% {
    transform: translate(-50%, 0);
    opacity: 0.2;
  }

  50% {
    transform: translate(-50%, -1.5vh);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 0.1;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 5vh 5vw;

  background: linear-gradient(90deg, var(--primary), var(--dark));
  color: white;
  overflow: hidden;
}

.about-me h1 {
  font-weight: 600;
  font-size: 3rem;
}

.about-me span:after {
  content: "de Moi";
  color: var(--title);
  text-shadow: darkblue 0 0 7px;
}

section hr {
  margin-top: 1.5vh;
  margin-bottom: 4vh;
  width: 4vw;
  height: 4px;
  background-color: var(--title);
  box-shadow: 0 0 10px var(--title);
  border: none;
}

.cards-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  align-items: center;

  gap: 1vw;

  width: 80%;
  max-width: 1200px;
}

.card {
  padding: 2vw;
  border-radius: 15px;
  min-height: 15vh;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.large-card {
  grid-row: 1 / span 2;
  grid-column: 1;
  height: 100%;
}

.card-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-content {
  font-weight: 500;
  font-size: 1.08rem;
  margin-bottom: 0.4rem;
}

.card-content p {
  margin-bottom: 0.2rem;
}

.cards-grid-right {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw;

  width: 100%;
}

.small-card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

.small-card .card-value {
  font-size: 2rem;
  font-weight: 600;
  color: #1a73e8;
  margin-bottom: 0.5rem;
}

.small-card .card-content {
  font-size: 1rem;
  font-weight: 500;
  color: #cccccc;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;
}

.my-skills h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.my-skills span:after {
  content: "Compétences";
  color: var(--title);
  text-shadow: darkblue 0 0 20px;
  font-weight: 600;
  font-size: 4rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  width: 70%;
}

.skill-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  min-height: 50vh;
  padding: 2vh;
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-2px);
}

.skill-card-title {
  color: var(--title);
  text-shadow: darkblue 0 0 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  min-height: 8vh;
}

.skill-card-value {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.skill-card-value img {
  flex-basis: 20%;
  width: 1.2vw;
  align-content: center;
}

.skill-card-value .subtitle {
  flex-basis: 60%;
  text-align: left;
  font-weight: 600;
  text-shadow: white 0 0 1px;
}

.skill-card-value .percent {
  flex-basis: 20%;
  text-align: right;
  color: var(--title);
  font-weight: bold;
  text-shadow: darkblue 0 0 20px;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin: 5px 0 2vh 0;
  overflow: hidden;
}

.progress-bar {
  width: calc(var(--percent) * 1%);
  height: 10px;
  background-color: var(--title);
  box-shadow: 0 0 7px darkblue;
  border-radius: 15px;
  overflow: hidden;
}

.my-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 5vh 0;

  background: linear-gradient(90deg, var(--primary), var(--dark));
  color: white;
  overflow: hidden;
}

.my-projects h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0.2rem;
}

.my-projects span:after {
  content: "Projets";
  color: var(--title);
  text-shadow: darkblue 0 0 7px;
  font-size: 4rem;
}

.categs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.categs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vw;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-button {
  min-width: 10vw;
  min-height: 5vh;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0 0 2px white;
  transition: transform 0.2s ease-in-out;
  overflow-x: visible;
}

.value-button:hover,
.value-button:focus,
.value-button.active-filter {
  transform: scale(1.05);
  background-color: var(--title);
  border: 3px solid rgba(255, 255, 255, 0.3);
  overflow-x: visible;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  padding: 2vw;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: color-mix(in srgb, var(--title), transparent 95%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.2s ease;
  height: 45vh;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  z-index: 1;
}

.project-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(13, 17, 23, 1) 0%, rgba(13, 17, 23, 0) 100%);
  z-index: 2;
}

.project-isfeatured {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--title);
  color: white;
  box-shadow: 0 0 5px blue;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  z-index: 3;
}

.project-github-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 17, 23, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 4;
  cursor: pointer;
}

.project-card:hover .project-github-link {
  opacity: 1;
}

.project-github-link img {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
}

.project-github-link img:hover {
  background-color: var(--title);
}

.project-card-title,
.project-card-desc,
.project-card-technologies {
  position: relative;
  z-index: 3;
  color: white;
  padding: 0 15px;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
}
.project-card:hover .project-card-title {
  color: var(--title);
}

.project-card-desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  line-height: 1.4;
}

.project-card-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-technologie {
  background-color: var(--title);
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 11px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.experience-education {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: center;

  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;

}

.experience-education h1 {
  font-weight: 600;
  font-size: 3rem;
}

.experience-education span:after {
  content: "Experience & Parcours";
  color: var(--title);
  text-shadow: darkblue 0 0 7px;
}

.experience-education hr {
  display: flex;
  align-self: center;
}

.exp-educ-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.experience-icon-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.experience-icon {
  width: 2.5vw;

  padding: 0.5rem;

  background-color: var(--title);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.experience-icon-title {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
}

.exp-card {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 4vh 2vw;
  margin: 2vw;
  min-height: 30vh;
  width: 35vw;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.exp-card::before {
  content: "";
  position: absolute;
  left: -2rem; /* Ajustez selon l'alignement souhaité sous l'icône */
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--title);
  border-radius: 2px;
  box-shadow: 0 0 10px var(--title);
}

.exp-card::after {
  content: "";
  position: absolute;
  left: -2.4rem; /* Centré sur le trait (ajuster selon l'épaisseur) */
  top: 0;
  width: 16px;
  height: 16px;
  background-color: var(--title);
  border-radius: 50%;
  box-shadow: 0 0 15px var(--title);
}

.experience-title {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: start;
  margin-bottom: 1rem;
}

.experience-subtitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.experience-company {
  color: var(--title);
  padding-right: 0.5vw;
  font-size: 1.2rem;
}

.experience-period {
  font-size: 1rem;
}

.exp-card hr {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  align-self: start;
  margin-bottom: 1vh;
}

.experience-highlights-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2vh 1vw;
  font-size: 1.1rem;
}

.experience-highlight {
  margin-bottom: 0.5vw;
}

.experience-highlights-list ul {
  list-style-type: none;
}

.experience-highlight li {
  display: flex;
  flex-direction: row;
}

.experience-highlight h4 {
  font-weight: 500;
}

.experience-highlights-list li::before {
  content: "•";
  color: rgba(255, 255, 255, 0.3);
  padding-right: 0.5vw;
}

.experience-technologies {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.experience-technologie-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8vh 0.8vw;
  margin-right: 1vw;

  border-radius: 12px;
  background-color: var(--primary);
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.education-icon-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.education-icon {
  width: 2.5vw;

  padding: 0.5rem;

  background-color: var(--title);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.education-icon-title {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
}

.educ-card {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 4vh 2vw;
  margin: 2vw 2vw 2vw calc(1.25vw + 1rem);
  min-height: 30vh;
  width: 35vw;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.educ-card::before {
  content: "";
  position: absolute;
  left: -2rem; /* Ajustez selon l'alignement souhaité sous l'icône */
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--title);
  border-radius: 2px;
  box-shadow: 0 0 10px var(--title);
}

.educ-card::after {
  content: "";
  position: absolute;
  left: -2.4rem; /* Centré sur le trait (ajuster selon l'épaisseur) */
  top: 0;
  width: 16px;
  height: 16px;
  background-color: var(--title);
  border-radius: 50%;
  box-shadow: 0 0 15px var(--title);
}

.education-degree {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: start;
  margin-bottom: 1rem;
}

.education-subtitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.education-university {
  color: var(--title);
  padding-right: 0.5vw;
  font-size: 1.2rem;
}

.education-period {
  font-size: 1rem;
}

.educ-card hr {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  align-self: start;
  margin-bottom: 1vh;
}

.education-highlights-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2vh 1vw;
  font-size: 1.1rem;
}

.education-highlight {
  margin-bottom: 0.5vw;
}

.education-highlights-list ul {
  list-style-type: none;
}

.education-highlight li {
  display: flex;
  flex-direction: row;
}

.education-highlight h4 {
  font-weight: 500;
}

.education-highlights-list li::before {
  content: "•";
  color: rgba(255, 255, 255, 0.3);
  padding-right: 0.5vw;
}

.contact-section {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: center;
  background: linear-gradient(135deg, var(--primary), var(--dark));
  color: white;
}

.contact-section h1 {
  font-weight: 600;
  font-size: 3rem;
}

.contact-section h1 span:after {
  content: "Contacter";
  color: var(--title);
  text-shadow: darkblue 0 0 7px;
}

.contact-section hr {
  display: flex;
  align-self: center;
}

.contact-container {
  display: flex;

  margin-top: -4vh;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vh;
  min-height: 60vh;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05); /* Effet translucide */
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  min-width: 40vw;
  margin-bottom: 2vh;
}

.info-icon {
  width: 3vw;
  height: 3vw;
  background-color: var(--title);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.info-icon img {
  width: 25px;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-label {
  font-weight: 600;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.info-value {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  gap: 2vh;
}

.contact-right-title h2 {
  font-weight: 600;
  color: white;
  font-size: 2rem;
  margin-bottom: 1vh;
}

.contact-right-title hr {
  border: none;
  width: 20vw;
  height: 0.5rem;
  background: linear-gradient(90deg, var(--dark), var(--secondary));
  border-radius: 10px;
}

.contact-inputs {
  width: 30vw;
  height: 8vh;
  border: none;
  outline: none;
  padding-left : 2vw ;
  font-weight: 500;
  background-color: var(--dark);
  color: var(--dark);
  border-radius: 50px;
}

.contact-right textarea {
  height: 20vh;
  padding-top: 2vh;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 4px solid white;
}

.contact-inputs::placeholder {
  color: var(--neutral);
}

.contact-submit {
  display: flex;
  align-items: center;
  padding: 1.5vh 2.5vw;
  font-size: 1.2rem;
  color: var(--neutral);
  gap: 1vw;
  border: none;
  border-radius: 50px;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  cursor: pointer;
}

.submit-arrow {
  display: flex;
  width: 2.5vw;
  max-width: 30px;
}

@media (max-width: 767px) {
  html {
    overflow: hidden;
  }

  .title {
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
  }

  .title span:after {
    font-size: 3rem !important;
  }

  .pres {
    flex-direction: column;
    text-align: center;
    padding: 1vh 0;
  }

  .pres-text {
    padding: 0.2vh 5vw
  }

  .pres-contact-container {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.1vh;
  }

  .my-work, .get-in-touch {
    width: 100%;
  }

  .links {
    gap: 4vw;
    margin: 2vh 0 5vh 0;
  }

  .icon {
    width: 10vw;
  }

  .email-icon {
    padding: 1vw;
    cursor: default;
  }

  .oval-pin {
    width: 4vw;
    height: 3vh;
    border: 2px solid blue;
    border-radius: 90px;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    bottom: 1vh;
  }

  .ball {
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    z-index: 1;
    animation: move-ball-mobile 7s infinite alternate ease-in-out;
  }

  .trail {
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--title);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    animation: move-trail-mobile 7s infinite alternate ease-in-out;
    animation-delay: 0.5s;
  }

  @keyframes move-ball-mobile {
    0% {
      transform: translate(-50%, 0);
    }

    50% {
      transform: translate(-50%, -0.5vh);
    }

    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes move-trail-mobile {
    0% {
      transform: translate(-50%, 0);
      opacity: 0.2;
    }

    50% {
      transform: translate(-50%, -0.5vh);
      opacity: 0.15;
    }

    100% {
      transform: translate(-50%, 0);
      opacity: 0.1;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  section hr {
    width: 10vw;
    box-shadow: 0 0 10px var(--title);
  }

  .large-card {
    grid-row: unset;
    grid-column: unset;
    height: auto;
  }

  .cards-grid-right {
    grid-column: 1 / span 2;
    grid-row: unset;

    grid-template-columns: 1fr 1fr;
    padding-top: 1vh;
    gap: 2vw;
  }

  .card {
    padding: 4vw;
    min-height: 100%;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
  }

  .skill-card {
    min-height: 30vh;
  }

  .skill-card-value img {
    width: 3vw;
  }
}
