:root{--primary: #001e43;--secondary: #2C3E50;--light: #F5F5F5;--neutral: #7F8C8D;--accent: #34495E;--dark: #000413;--title: #6161FF}*{font-family:Inter,Arial,Helvetica,sans-serif;scroll-behavior:smooth}body{margin:0;padding-top:4vh}
