<div class="contact-container">
  <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">

    <div class="contact-left-title">
      <h2>Contactez Moi</h2>
      <hr>
    </div>

    <input type="hidden" name="access_key" value="862cf3d2-e8f1-483d-beab-ee2bf085c2b7">

    <input type="text" name="name" placeholder="Nom" class="contact-inputs" required>

    <input type="email" name="email" placeholder="Email" class="contact-inputs" required>

    <textarea type="message" name="message" placeholder="Message" class="contact-inputs" required></textarea>

    <button type="submit" class="contact-submit">Submit<img src="/Assets/Contact/arrow.png" alt="arrow-submit" class="submit-arrow"></button>
  </form>
  <div class="contact-right">
    <img src="/Assets/Contact/contact-form.png" alt="contact-form-image">
  </div>
</div>
