* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pres-container {
  display: flex;
  background-color: var(--light);

  padding: 1vw 1vw;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.left-pres {
  display: flex;
  align-items: start;
  gap: 2vh;
  width: 40%;
}

.pres-text {
  display: flex;
}

.right-pres {
  justify-content: end;
}

.right-pres img {
  width: 40vw;
  box-shadow: -2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}
