* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: -4vh 0 4vh 0;
  height: 100%;
  min-height: 100vh;
}

section h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 4vh;
}

.pres-container {
  display: flex;
  flex-direction: column;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 30%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 15%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 25%);
  background-color: var(--dark);
  color: white;

  min-height: 100vh;

  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.pres-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
  font-weight: 500;
  font-size: 1.4rem;
}

.card-container {
  display: flex;
  background: linear-gradient(180deg, var(--neutral), var(--light));

  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 3vh;
  min-height: 100vh;
  align-content: space-evenly;
}

.card {
  width: 380px;
  background-color: var(--secondary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  margin: 1vw;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  height: auto;
  background-color: var(--neutral);
}

.card-content {
  padding: 1vw;
}

.card-content h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.card-content p {
  color: var(--dark);
  font-size: 1.2rem;
  line-height: 1.3;
}

.key-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
  background:
    radial-gradient(circle at 70% 20%, var(--primary) 0%, transparent 20%),
    radial-gradient(circle at 40% 55%, var(--primary) 0%, transparent 15%),
    radial-gradient(circle at 20% 80%, var(--primary) 0%, transparent 30%);
  background-color: var(--dark);
  color: white;
}

.mobility-container {
  margin: 3vh 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2vh;
}

.mobility-input {
  width: 30vw;
  height: 8vh;
  border: 2px solid var(--dark);
  outline: none;
  padding-left : 2vw;
  font-weight: 600;
  font-size: 1rem;
  color: var(--dark);
  border-radius: 50px;
  justify-items: center;
}

.contact-container {
  margin: 1vh 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2vh;
}

.contact-input {
  width: 30vw;
  height: 8vh;
  border: 2px solid var(--dark);
  outline: none;
  padding-left : 2vw;
  font-weight: 600;
  font-size: 1rem;
  color: var(--dark);
  border-radius: 50px;
  justify-items: center;
}
