* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pres-container {
  display: flex;
  background-color: var(--neutral);

  padding: 1vw 1vw;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.left-pres {
  display: flex;
  align-items: start;
  gap: 2vh;
  width: 40%;
}

.pres-text {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.4rem;
}

.left-pres hr{
  border: none;
  height: 0.2rem;
  background: linear-gradient(90deg, var(--dark), var(--secondary));
  border-radius: 10px;
}

.first {
  width: 15vw;
}

.second {
  width: 25vw;
}

.third {
  width: 20vw;
}

.right-pres {
  justify-content: end;
}

.right-pres img {
  width: 40vw;
  border-radius: 25px;
}
