<div class="pres-container">
  <div class="left-pres">
    <div class="pres-text">
      <p>
        Je m'appelle <b>Théotim ALBERTEAU</b>, j'ai 19 ans et je suis actuellement en Bachelor de développement informatique
        à Sup de Vinci Nantes depuis 2024 et jusqu'en 2027.
        <br>
        Passioné depuis petit par l'informatique, il est d'évidence que j'ai découvert asserz tôt le développement informatique
        notamment avec du Scratch puis ensuite, pendant le confinement en 2020, du Python.

      </p>
    </div>
  </div>

  <div class="right-pres">
    <img src="/profil-photo.png" alt="profil-photo" >
  </div>
</div>
