* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100%;
  min-height: 100vh;
}

section h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.pres-container {
  margin-top: -4vh;
  display: flex;
  flex-direction: column;
  background:
    radial-gradient(circle at 10% 10%, var(--primary) 0%, transparent 40%),
    radial-gradient(circle at 45% 45%, var(--primary) 0%, transparent 25%),
    radial-gradient(circle at 80% 80%, var(--primary) 0%, transparent 35%);
  background-color: var(--dark);
  color: white;

  min-height: 100vh;

  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.pres-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
  font-weight: 500;
  font-size: 1.4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span:after {
  padding-left: 0.5rem;
  content: "Théotim ALBERTEAU";
  color: #113768;
  text-shadow: darkblue 0 0 7px;
  font-weight: 600;
  font-size: 4rem;
}

.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding-top: 7vh;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  gap: 2vw;
}

.my-work {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px #113768;

  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.my-work:hover {
  transform: scale(1.02);
}

.get-in-touch {
  display: flex;
  width : 10vw;
  height: 6vh;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: rgba(255, 255, 255, 0.1) solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);

  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.get-in-touch:hover {
  transform: scale(1.02);
}

.card-container {
  display: flex;
  background: linear-gradient(180deg, var(--neutral), var(--light));

  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: space-evenly;
}

.card {
  width: 380px;
  background-color: var(--secondary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  margin: 1vw;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  height: auto;
  background-color: var(--neutral);
}

.card-content {
  padding: 1vw;
}

.card-content h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.card-content p {
  color: var(--dark);
  font-size: 1.2rem;
  line-height: 1.3;
}
