<div class="pres-container">
  <div class="left-pres">
    <div class="pres-text">
      <p>
        Je m'appelle <b>Théotim ALBERTEAU</b>, j'ai 19 ans et je suis actuellement en Bachelor de développement informatique
        à Sup de Vinci Nantes depuis 2024 et jusqu'en 2027.
      </p> <hr class="first"> <br> <p>
        Passioné depuis petit par l'informatique, il est d'évidence que j'ai découvert asserz tôt le développement informatique
        notamment avec du Scratch puis, pendant le confinement en 2020, du Python.
      </p> <hr class="second"> <br> <p>
        Aujourd'hui, je suis en Bachelor de développement informatique à Sup de Vinci Nantes, de 2024 à 2027.
        <br>
        Et je suis actuellement à la recherche d'une alternance en Développement Web, pour commencer en Juillet 2026
      </p> <hr class="third">
    </div>
  </div>

  <div class="right-pres">
    <img src="/profil-photo.png" alt="profil-photo" >
  </div>
</div>
