<section id="top">
    <div class="pres-container">
      <div class="pres-text">
        <h1 class="title">Bonjour ! Je suis
        <span></span>
        </h1>
      </div>
    </div>
</section>

<section>
  <div class="hobbies">
    <div class="card-container">
      <div class="card">
        <div class="card-img">
          <img src="Assets/Hobbies/sport.png" alt="sport-image">
        </div>
        <div class="card-content">
          <h3>
            Le sport
          </h3>
          <p>
            J'ai fait énormément de sports différents depuis petit, que ce soit en club ou en famille, comme le tennis.
            J'aime aussi regarder et suivre les compétitions de différents sports, notamment le volley, le foot ou le tennis.
          </p>
        </div>
      </div>

      <div class="card">
        <img src="Assets/Hobbies/informatic.png" alt="sport-image">
        <div class="card-content">
          <h3>
            L'Informatique
          </h3>
          <p>
            L'informatique m'as toujours passionné, que ce soit le développement, les jeux-vidéos, les nouvelles technologies ou autres sujets liés.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="Assets/Hobbies/cinema.png" alt="sport-image">
        </div>
        <div class="card-content">
          <h3>
            Le Cinéma
          </h3>
          <p>
            Depuis quelques années, je me suis mis a regardé de plus en plus de films, que ce soit pour le plaisir ou pour la culture générale.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="key-infos">
    <div class="mobility-container">
      <input class="mobility-input" type="text" name="city" value="Ville : Nantes, France" readonly>
      <input class="mobility-input" type="text" name="car" value="Mobile Pays de la Loire, Permis B non véhiculé" readonly>
    </div>
    <div class="contact-container">
      <input class="contact-input" type="text" name="email" value="Email : theotim.alberteau@gmail.com" readonly>
      <input class="contact-input" type="text" name="tel" value="Téléphone : 06 13 01 24 37" readonly>
      <input class="contact-input" type="text" name="other" value="Ou contactez moi grâce le bouton du header" readonly>
    </div>
  </div>
</section>

<section>

</section>
