<header>
  <div class="header_container">
    <div class="header_left">
      <h2 class="header_logo" (click)="onClickHome()">Théotim ALBERTEAU</h2>
    </div>

    <div class="header_right">
        <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation"> {{ menuIcon() }} </button>

      @if (shouldShowMenu()) {
        <div class="dropdown-menu" [class.is-open]="isMenuOpen()">

          <a href="#home">Accueil</a>

          <a href="#about-me">A propos</a>

          <a href="#my-skills">Compétences</a>

          <a href="#my-projects">Projets</a>

          <a href="#experience-education">Experiences</a>

          <a href="#contact">Contact</a>

          <div class="header_separator"></div>

          <button class="header_button cv" (click)="onClickCV()">
              Voir mon CV
          </button>

        </div>
      }
    </div>
  </div>
</header>

<router-outlet />

<footer>
  <div class="footer-container">
    <a class="footer_logo" href="/">
      <img src="Assets/CV/logo.png" alt="Logo Théotim ALBERTEAU" class="footer_logo_img">
    </a>

    <div class="footer-links-wrapper">
      <div class="footer-links">
        <a href="#my-projects">Projets</a>
        <a href="#contact">Contact</a>
        <a href="/LegalNotices">Mentions Légales</a>
      </div>
      <div class="footer-copyright">
        &copy; 2026 Théotim ALBERTEAU. Tous droits réservés.
      </div>
    </div>
  </div>
</footer>
