.header_container {
  background: var(--dark);
  color: rgba(255, 255, 255, 0.7);

  display: flex;
  padding: 0.5vh;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  height: 4vh;
}

.header_left {
  display: flex;
  margin-left: 0.5vh;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5vh;

  align-items: center;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5vh 1vw;
  line-height: 1;
  z-index: 20;
}

.dropdown-menu {
  display: flex;
  align-items: center;
  gap: 0.2vw;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  padding: 0.4vh 0.4vw;

  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 0.75vw;
  text-decoration: none;
  scroll-behavior: smooth ;
}

.header_button {
  display: flex;
  align-items: center;
  padding: 0.6vh 0.6vw;

  background-color: transparent;
  border: none;
  border-radius: 6px ;
  outline: none;

  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 0.6vw;
}

.header_button:hover {
  background-color: var(--secondary);
}

.header_button_logo {
  width: 1.7vw;
  height: auto;
  padding: 0 0.1vw;
  transition: filter 0.2s;
  filter: invert(90%);
}

.header_separator {
  width: 3px;
  height: 2.5vh;
  background-color: var(--primary);
  flex-shrink: 0;
}

@media (max-width: 640px) {
  .header_right {
    gap: 0;
    height: auto;
    margin-right: 0.5vh;
  }

  .menu-toggle {
    display: block;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    background-color: var(--dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(0px);

    transition: all 0.3s ease;
  }

  .dropdown-menu.is-open {
    max-height: 500px;
    opacity: 1;
    padding: 1vh 0;
    transform: translateY(0);
  }

  .dropdown-menu a {
    width: 95%;
    margin: 0.1vh auto;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1vh 1vw;

    color: rgba(255, 255, 255, 0.7);
  }

  .header_button {
    width: 95%;
    margin: 0.1vh auto;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1vh 1vw;

    color: rgba(255, 255, 255, 0.7);
  }

  .header_button:hover {
    background-color: transparent;
    color: var(--accent);
  }

  .header_separator {
    display: none;
  }

  .header_button_logo {
    width: 3vw;
    height: auto;
    padding: 0 1vw;
    transition: filter 0.2s;
  }
}
