<header>
  <div class="header_container">
    <div class="header_left">
      <h2 class="header_logo" (click)="onClickHome()">Théotim ALBERTEAU</h2>
    </div>

    <div class="header_right">

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation"> {{ menuIcon() }} </button>

      <div class="dropdown-menu" [class.is-open]="isMenuOpen()">

        <a href="#">Présentation</a>

        <div class="header_separator"></div>

        <a href="#">Compétences</a>

        <div class="header_separator"></div>

        <button class="header_button cv" (click)="onClickCV()">
          <img class="header_button_logo" src="Assets/CV/cv.png">
            Voir mon CV
        </button>

        <div class="header_separator"></div>

        <button class="header_button contact" (click)="onClickContact()">
          <img class="header_button_logo" src="Assets/Contact/contact.png">
            Me Contacter
        </button>

      </div>
    </div>
  </div>


</header>

<router-outlet />

