<header>
  <div class="header_container">
    <div class="header_left">
      <h2 class="header_logo" (click)="onClickHome()">Théotim ALBERTEAU</h2>
    </div>

    <div class="header_right">

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation"> {{ menuIcon() }} </button>

      <div class="dropdown-menu" [class.is-open]="isMenuOpen()">

        <a href="#home">Accueil</a>

        <a href="#about-me">A propos</a>

        <a href="#my-skills">Compétences</a>

        <a href="#my-projects">Projets</a>

        <div class="header_separator"></div>

        <button class="header_button cv" (click)="onClickCV()">
            Voir mon CV
        </button>

        <button class="header_button contact" (click)="onClickContact()">
            Me Contacter
        </button>

      </div>
    </div>
  </div>


</header>

<router-outlet />

