<header>
  <div class="container">
    <div class="logo">Théotim ALBERTEAU</div>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">☰</label>

    <nav>
      <ul>
        <li><a href="#about">À propos</a></li>
        <li><a href="#formation">Formation</a></li>
        <li><a href="#skills">Compétences</a></li>
        <li><a href="#experiences">Expériences</a></li>
      </ul>

      <div class="cta">
        <a href="cv.pdf" class="btn">Télécharger le CV</a>
        <a href="#contact" class="btn btn-secondary">Me Contacter</a>
      </div>
    </nav>
  </div>
</header>

<router-outlet />

