:root {
  --primary: #137C8B;
  --secondary: #709CA7;
  --light: #B8CBD0;
  --accent: #7A90A4;
  --dark: #344D59;
}

.header_container {
  background-color: var(--dark);
  color: var(--light);

  display: flex;
  padding: 1vh;
  justify-content: space-between;
}

.header_left {
  display: flex;
  margin-left: 1vh;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 1vh;
  gap: 1vw;

  align-items: center;
}

.header_button {
  display: flex;
  align-items: center;
  padding: 2vh 2.5vw;

  background-color: var(--primary);
  border: none;
  border-radius: 6px ;
  outline: none;

  color: var(--light);
  font-weight: bold;
  font-size: 1vw;
}

.header_button:hover {
  background-color: var(--secondary);
}
