:root {
  --primary: #adb5bd;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --neutral: #ced4da;
  --accent: #495057;
  --dark: #212529;
}

* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header_container {
  background-color: var(--accent);
  color: var(--light);

  display: flex;
  padding: 0.5vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 8vh;
}

.header_left {
  display: flex;
  margin-left: 1vh;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 1vh;

  align-items: center;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--light);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5vh 1vw;
  line-height: 1;
  z-index: 20;
}

.dropdown-menu {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  padding: 0.4vh 0.4vw;

  color: var(--light);
  font-weight: bold;
  font-size: 0.75vw;
  text-decoration: none;
}

.header_button {
  display: flex;
  align-items: center;
  padding: 1.2vh 1.2vw;

  background-color: transparent;
  border: none;
  border-radius: 6px ;
  outline: none;

  color: var(--light);
  font-weight: bold;
  font-size: 0.85vw;
}

.header_button:hover {
  background-color: var(--secondary);
}

.header_button_logo {
  width: 2.5vw;
  height: auto;
  padding: 0 0.1vw;
  transition: filter 0.2s;
  filter: invert(90%);
}

.header_separator {
  width: 3px;
  height: 5vh;
  background-color: var(--primary);
  flex-shrink: 0;
}

@media (max-width: 640px) {
  .header_right {
    gap: 0;
    height: auto;
    margin-right: 0.5vh;
  }

  .menu-toggle {
    display: block;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    background-color: var(--light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(0px);

    transition: all 0.3s ease;
  }

  .dropdown-menu.is-open {
    max-height: 500px;
    opacity: 1;
    padding: 1vh 0;
    transform: translateY(0);
  }

  .dropdown-menu a {
    width: 95%;
    margin: 0.1vh auto;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1vh 1vw;

    color: var(--dark);
  }

  .header_button {
    width: 95%;
    margin: 0.1vh auto;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1vh 1vw;

    color: var(--dark);
  }

  .header_button:hover {
    background-color: transparent;
    color: var(--accent);
  }

  .header_separator {
    display: none;
  }

  .header_button_logo {
    width: 3vw;
    height: auto;
    padding: 0 1vw;
    transition: filter 0.2s;
    filter: invert(0%);
  }
}
