:root {
  --primary: #137C8B;
  --secondary: #709CA7;
  --light: #B8CBD0;
  --accent: #7A90A4;
  --dark: #344D59;
}

.header_container {
  background-color: var(--dark);
  color: var(--light);

  display: flex;
  padding: 1vh;
}
